<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />
    
    <application>
        <activity
            android:name="com.doordeck.sdk.ui.unlock.UnlockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ddLightTheme"
            android:exported="true"
            android:excludeFromRecents="true"/>
        <activity
            android:name="com.doordeck.sdk.ui.qrcode.QRcodeActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:excludeFromRecents="true"/>
        <activity
            android:name="com.doordeck.sdk.ui.showlistofdevicestounlock.ShowListOfDevicesToUnlockActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:excludeFromRecents="true"/>
        <activity
            android:name="com.doordeck.sdk.ui.nfc.NFCActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name="com.doordeck.sdk.ui.verify.VerifyDeviceActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:exported="true"
            />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>